.home-page {
  background: silver;
}

.input-form {
  padding: 0.7em;
  text-align: center;
}

.main-content {
  display: flex;
  flex: row nowrap;
  width: 100%;
}

.menu-categories {
  padding: 1em;
  width: 20%;
}

.container-products {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}

.product-card {
  background-color: white;
  width: 20%;
  height: 20em;
  justify-content: space-between;
}

.product {
  background: white;
  margin: 0.5em 1em;
  text-align: center;
}

.image-product {
  width: 80%;

}
